---
import Layout from '../layouts/Layout.astro'
import Project from '../components/project.astro'
import Link from '../components/link.astro'
import { Linkedin, Github } from 'lucide-astro'
import { getCollection } from 'astro:content'
import projects from '../projects.json'
import '@fontsource-variable/raleway'
import dayjs from 'dayjs'
import Header from '../components/header.astro'

const posts = await getCollection('blog')
// sort the posts
posts.sort((a, b) => dayjs(b.data.date).unix() - dayjs(a.data.date).unix())
---
<Layout title="Hi, I'm Toby" description="Hi, I'm Toby, a Computer Science student at the University of Leeds.">
    <main class="flex flex-col grow">
        <Header>
            <h1 class="text-xl font-medium text-text-secondary">
                Hi, I'm Toby.
            </h1>
            <h2 class="text-3xl max-w-5xl font-medium">
                I'm a Computer Science student at the University of Leeds.
            </h2>
            <h3 class="text-lg font-medium text-text-secondary max-w-5xl">
                This summer I'll be interning at <a class="underline" href="https://www.pexip.com/">Pexip</a>.
            </h3>
            <div class="flex gap-2 pt-2 text-text-secondary">
                <Link
                    href="https://github.com/tobyrushton"
                    alt="Link to my GitHub profile" 
                >
                <Github size="24" />
                </Link>
                    <Link
                        href="https://www.linkedin.com/in/tobyrushton/"
                        alt="Link to my LinkedIn profile"
                    >
                    <Linkedin size="24" />
                </Link>
            </div>
        </Header>
        <div class="grid gap-4 p-4 grid-cols-1 sm:grid-cols-2">
            <h2 class="text-xl p-2 sm:col-span-2">
                My Projects
            </h2>
            {
                projects.map((project) => (
                    <Project
                        title={project.name}
                        link={project.link}
                        repository={project.repository}
                    >
                        {project.description}
                    </Project>
                ))
            }
        </div>
        <div class="flex flex-col gap-4 p-4 ">
            <h2 class="text-xl p-2">
                Blog
            </h2>
            {
                posts.map(post => (
                    <article class="flex flex-col gap-2 p-4">
                        <a class="hover:underline hover:text-accent" href={`/blog/${post.data.slug}`}>
                            <h3 class="text-lg font-medium">
                                {post.data.title}
                            </h3>
                        </a>
                        <p class="text-sm text-text-secondary">
                            {post.data.description}
                        </p>
                    </article>
                ))
            }
        </div> 
    </main>
</Layout>
